.search-box-container {
    box-shadow: 0 0 2px 2px rgba(119, 136, 153, 0.3);
    width: 350px;
    min-height: 250px;
    position: absolute;
    z-index: 5;
    top: 70px;
    right: 4vw;
    background-color: white;
    padding: 10px 15px;

    @media (max-width: 800px) {
        top: 120px;
        width: 60vw;
        left: 50%;
        transform: translate(-50%);
    }

    @media (max-width: 500px) {
        width: 80vw;
    }
}

.cancel-search {
    position: relative;
    left: 95%;
    cursor: pointer;
}